
h1{
    background-color: yellow;
    color: blue;
    height: 50px;


}

#contenedor{
    width: 75%;
    background-color: brown;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px 50px;
    gap: 10px;
}

#elem1, #elem2, #elem3, #elem4 {
    background-color: lightgrey;
    border: solid 1px darkblue;
}

#elem1{
    grid-column: 1;
    grid-row: 1/3;
}

#elem2{
    grid-row: 1;
    grid-column: 2/4;
}
